*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
/* Header */
#header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:2rem;
    background-color:#71bd46;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo h1{
    font-family: 'Sansita Swashed';
    color:#FFF;
}
.btnSide{
    margin-right:100px;
}
.btn{
    padding:0.8rem 1.5rem 0.8rem 1.5rem;
    border:0;
    border-radius:3px;
    font-family: 'Roboto';
    font-weight: 400;
    cursor: pointer;
    background-color:#468731;
    color:#FFF;
}
.btn:hover{
    background-color:#386b26;
}
/* Content Gray Box*/
#content{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:0 auto;
    width:80%;
    height:800px;
    background-color:#e0e0e0;
    border-radius:3px;
    margin-top:20px;
    padding:1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* Box */
#recipeImg{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:3px 3px 0px 0px;
    border-bottom:2px solid #71bd46;
}
.box{
    border-radius:3px;
    width:283px;
    height:340px;
    font-family: 'Roboto';
    background-color:#F0F0F0;
    margin-right:15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.boxDetails{
    padding:0.7rem;
}
#recipeNameShow, #recipeDescShow{
    margin-bottom:22px;
    color:#666;
    text-transform: capitalize;
    border:0;
    background-color:#f0f0f0;
}
.rating{
    display:inline-block;
    margin-left:10px;
}
.checked {
    color: rgb(255, 72, 0);
}
/* form */
#frm{
    margin:0 auto;
    padding:3rem;
    font-family: 'Roboto';
    background-color:#f0f0f0;
}
table{
    margin:0 auto;
}
table td{
    padding:1rem;
}
#recipeName{
    padding: 7.2px;
    width: 250px;
    border-radius: 3px;
    color: #666;
    border:1px solid #999;
}
#recipeType{
    width:250px;
    height:38px;
    border-radius: 3px;
    color: #666;
    border:1px solid #999;
}
#recipeDescription{
    width:250px;
    height:150px;
    border-radius: 3px;
    color: #666;
    border:1px solid #999;
    resize: none;
    padding:5px;
}
#recipeDirections{
    width:250px;
    height:150px;
    border-radius: 3px;
    color: #666;
    border:1px solid #999;
    resize: none;
    padding:5px;
}
#recipeImageUrl{
    padding: 7.2px;
    width: 250px;
    border-radius: 3px;
    color: #666;
    border:1px solid #999;
}
.fntColor{
    color:#666;
    font-family: 'Roboto';

}
.extraFont{
    padding:1rem 0.3rem 1rem 0.3rem;
    margin:10px;
}
#btnCloseRecipe, #btnCreate, #btnClose{
    padding:0.8rem 1.3rem 0.8rem 1.3rem;
    width:150px;
}
#btnClose, #btnCloseRecipe{
    background-color:rgb(202, 45, 45);
}
#viewRecipe{
    padding-top:10px;
}
.h3W{
    position:absolute;
    top:2%;
    left:35%;
    color:rgb(202, 45, 45);
}

/* View Recipe */
.ElementImg{
    width:300px;
    object-fit: cover;
    border-left:5px solid #386b26;
    margin-left:25%;
}
.Capitalize{
    text-transform: capitalize;
}
.bg{
    background-color:rgb(202, 45, 45);
}

.bg:hover{
    background-color:rgb(155, 32, 32);
}